.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a svg{
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}
a:hover svg{
  transform: scale(1.2);
}
a[href="https://discord.com/"]:hover{
  color: #7289da;
}
a[href="https://www.facebook.com/"]:hover{
  color: #3b5998;
}

a[href="https://x.com/?lang=en"]:hover{
  color: #1da1f2;
}

a[href="https://github.com/"]:hover{
  color: #24292f;
}

a[href="https://dribbble.com/"]:hover{
  color: #ea4c89; 
}